.hero1{
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero2 img{
    height: 100%;
    width: 100%;
}
/* .main{
    height: 200px;
} */
.services{
    display: flex;
    flex-direction: column;
}
.services{
    font-size: small;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.products h1{
    text-align: center;
}
.coffee{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.whatwedo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 30px;
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.footer2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.footer2 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.footer3 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;

}

.footer4 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}

.footer5 a{ 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}
