.hero1{
    align-items: center;
}
.hero{
    display: flex;
    flex-direction: column;
}
.hero2 img{
    height: 100%;
    width: 100%;
}
/* .main{
    height: 200px;
} */
.services{
    display: flex;
    flex-direction: column;
}